# Dependencies
node_modules
.yarn
.yarn/*
.pnpm-store

# Next.js
.next
out

# Local env files
.env.local
.env
.env.*

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# OS / editor
.DS_Store
.vscode
