:root {
    /* Collection: typography */
    --caption-font-size: 0.875rem;
    --caption-font-weight: 400;
    --caption-letter-spacing: 0.09375rem;
    --caption-line-height: 1.3125rem;
    --caption-spacing: 0.875rem;

    --font-definitions-font-family-body: var(--font-definitions-font-family-sans);
    --font-definitions-font-family-headings: var(--font-definitions-font-family-sans);
    --font-definitions-font-family-monospace: Geist Mono;
    --font-definitions-font-family-sans: Geist;
    --font-definitions-font-family-serif: Geist;

    --font-sans: var(--font-definitions-font-family-sans);
    --font-mono: var(--font-definitions-font-family-monospace);

    --heading-1-font-family: var(--font-definitions-font-family-headings);
    --heading-1-font-size: 3rem;
    --heading-1-letter-spacing: -0.09375rem;
    --heading-1-line-height: 3rem;
    --heading-1-spacing: 3rem;
    --heading-1-weight: 600;
    --heading-2-font-family: var(--font-definitions-font-family-headings);
    --heading-2-font-size: 1.875rem;
    --heading-2-letter-spacing: -0.0625rem;
    --heading-2-line-height: 1.875rem;
    --heading-2-spacing: 1.875rem;
    --heading-2-weight: 600;
    --heading-3-font-family: var(--font-definitions-font-family-headings);
    --heading-3-font-size: 1.5rem;
    --heading-3-letter-spacing: -0.0625rem;
    --heading-3-line-height: 1.7999999523162842rem;
    --heading-3-spacing: 1.25rem;
    --heading-3-weight: 600;
    --heading-4-font-family: var(--font-definitions-font-family-headings);
    --heading-4-font-size: 1.25rem;
    --heading-4-letter-spacing: 0rem;
    --heading-4-line-height: 1.5rem;
    --heading-4-spacing: 1.25rem;
    --heading-4-weight: 600;

    --monospaced-font-size: 1rem;
    --monospaced-font-weight: 400;
    --monospaced-letter-spacing: 0rem;
    --monospaced-line-height: 1.5rem;
    --monospaced-spacing: 1rem;

    --paragraph-bold-weight: 600;
    --paragraph-large-font-size: 1.125rem;
    --paragraph-large-letter-spacing: 0rem;
    --paragraph-large-line-height: 1.6875rem;
    --paragraph-large-spacing: 1.125rem;
    --paragraph-medium-weight: 500;
    --paragraph-mini-font-size: 0.75rem;
    --paragraph-mini-letter-spacing: 0rem;
    --paragraph-mini-line-height: 1rem;
    --paragraph-mini-spacing: 0.75rem;
    --paragraph-regular-font-size: 1rem;
    --paragraph-regular-letter-spacing: 0rem;
    --paragraph-regular-line-height: 1.5rem;
    --paragraph-regular-spacing: 1rem;
    --paragraph-small-font-size: 0.875rem;
    --paragraph-small-letter-spacing: 0rem;
    --paragraph-small-line-height: 1.25rem;
    --paragraph-small-spacing: 0.875rem;
    --paragraph-weight: 400;
}
